.git
.mozilla
autostart/
Electron/
MiniZinc/
dconf/
discord/
gh/
github-copilot/
go/
gtk-3.0/
htop/
kde.org/
pulse/
session/
obsidian/
containers/
obs-studio/
fish/fish_variables
QtProject.conf
baloofileinformationrc
dolphinrc
kiorc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale
